/* these all apply to the body element -> global rules */

* {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

.hidden { display: none; }

html, body { height: 100% }

body { 
font-family: sans-serif;
background-color: black;
color: white;

background-image: url("../images/background.webp");
background-repeat: no-repeat;
background-size: cover;
}

/* main header rules */
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: middle;
  background-color: rgba(255, 255, 255, 0.25);
  margin-bottom: 10px;
}

#main-logo { width: 220px; padding: 10px 20px; margin-left: auto; }

/* main rules here */
#team-nav { margin-left: 20%; max-width: 60%;}

.teams { list-style-type: none; }

.teams li { 
  display: inline-block;
  position: relative;
  width: 300px;
  height: 250px;
  margin: 10px 8px;
  background-color: rgba(4, 54, 67, 0.5);
  text-align: left;
  overflow: hidden;

  cursor: pointer;
}

.teams li a span {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -10px;
  color: white;
  font-weight: bold;
}

.blue_bumper {
  width: 100%;
  height: 6px;
  background-color: rgb(91, 186, 210);
}

input[type="checkbox"] {
  height: 18px;
  width: 20px;
  display: inline-block;
  margin-right: 8px;
  margin-left: 10px;
  margin-top: 10px;
}

input[type="checkbox"]:checked + span{
  color: rgb(255, 255, 255) !important;
  background-color: rgba(91, 186, 210, 0.5);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  border: 2px solid rgb(91, 186, 210);
}

article { 
  padding: 20px;
  margin-left: 25%;
}

/* select the h3 tag inside the article tag on the page */
/* a selector followed by a space and then ANOTHER selector gets a reference to the parent element and then the child element or elements inside of it */
article h3  {
  font-size: 2.5em;
  margin-bottom: 14px;
  margin-left: 175px;
}

/* select the p tag inside the article tag on the page */
article p {
  font-size: 1.5em;
  line-height: 1.2;
}

.sprite {
  width: 300px;
  height: 200px;
  
  background-image: url(../images/worldcupSprites.png);
}

#canada { background-position: -300px 0; }
#croatia { background-position: -600px 0; }
#germany { background-position: -900px 0; }
#saudi { background-position: -1200px 0; }
#netherlands { background-position: -1500px 0; }

.sprite:hover { background-position-y: -200px !important; }

/* footer rules here */
footer {
  color: white;
  padding: 20px 0;
  text-align: center;
}

.sticky_footer {
  position: sticky;
  top: 100%;
  height: 80px;

  background-color: rgba(0, 0, 0, 0.8);
}

/* lightbox rules here */

.lightbox { 
  width: 100vw; /* vw = viewport width => screen width */
  height: 100vh; /* vh = viewport height => screen height */

  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.85);
  background-image: url('../images/Cap_LB_Bg.png');
  background-repeat: no-repeat;

  background-size: 55vh; /* 55% of the viewport height */
  background-position: 40px bottom;

  display: none;
}

#lightbox2 { background-image: url('../images/Thor_LB_Bg.png'); }

.lightbox_close {
  position: relative;
  top: 20px;
  left: 95%;

  color: white;
  font-size: 3em;

  text-decoration: none;

  font-weight: bolder;
}

.lightbox_close:hover { opacity: 0.5; color: red; }

.lightbox article {
  width: 55%;
  margin-left: 40%;
  padding-top: 50px;
}

.lb_text, .lb_heading { text-align: left; }

.lb_text {
  line-height: 1.6 !important;
  margin-left: 0;
  padding-top: 2em;
}

/* turn the lightbox on using the :target pseudo selector */
.lightbox:target { display: block; }